# Nombre y activación del workflow
name: dbt CI with SQLFluff

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from PR branch
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install SQLFluff and dbt
        run: |
          pip install sqlfluff sqlfluff-templater-dbt
          pip install dbt-core dbt-bigquery  # Ajusta según tu adaptador dbt

      - name: Set up dbt profiles
        run: |
          mkdir -p ~/.dbt
          cp dbt_medallion/.dbt/profiles.yml ~/.dbt/profiles.yml

      # Generar manifest.json para la rama de PR
      - name: Generate manifest.json for state comparison in PR branch
        run: |
          cd $GITHUB_WORKSPACE/dbt_medallion
          dbt compile --target-path=$GITHUB_WORKSPACE/pr-run-artifacts

      # Cambiar a la rama main para obtener el estado actual
      - name: Checkout main branch code for state
        uses: actions/checkout@v2
        with:
          ref: main
          path: main_branch_code

      # Generar manifest.json para la rama main
      - name: Generate manifest.json for state comparison in main
        run: |
          cd $GITHUB_WORKSPACE/main_branch_code/dbt_medallion
          dbt compile --target-path=$GITHUB_WORKSPACE/main-run-artifacts

      # Formatear SQL con SQLFluff
      - name: Format SQL with SQLFluff
        run: |
          diff-quality --violations sqlfluff --compare-branch origin/main --fail-under 100
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Volver al proyecto de la rama de PR y ejecutar modelos modificados
      - name: Run modified dbt models
        run: |
          cd $GITHUB_WORKSPACE/dbt_medallion
          dbt run --project-dir . --profiles-dir ~/.dbt --select state:modified+ --defer --state $GITHUB_WORKSPACE/main-run-artifacts/manifest.json

      # Ejecutar tests modificados en la rama de PR
      - name: Run modified dbt tests
        run: |
          cd $GITHUB_WORKSPACE/dbt_medallion
          dbt test --project-dir . --profiles-dir ~/.dbt --select state:modified+ --state $GITHUB_WORKSPACE/main-run-artifacts/manifest.json

      # Notificar en caso de fallo
      - name: Notify on failure
        if: failure()
        run: |
          echo "Formatting or testing failed. Please check the logs and fix issues."
